@{
}
<div class="mt-5">
    <div>
        <iframe title="dashboardMyTE" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=615a1305-efc0-4d9c-9b60-8c9d49f658c7&autoAuth=true&ctid=cf36141c-ddd7-45a7-b073-111f66d0b30c" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="container-btn mt-5">
        <a class="btn btn-outline-orange" asp-controller="Admin" asp-action="Index">Return</a>
    </div>
</div>

