@*
  definir a relação entre view e model
  ---- NÃO HÁ MODEL ESPECÍFICO PARA ESTA VIEW ----
*@


@model string 

@{
    ViewData["Title"] = "Area Restrita";
}

@*definir a estrutura html necessária*@

<h3></h3>
<br/>
<br />

@Model

<br/>
<br />
<br />

@*recuperar o nome do usuário que está acessando a área restrita??????????*@

@if (User.Identity.IsAuthenticated)
{
    @* referenciar o link de chamada da action Logout() no AccountController*@
    <a asp-controller="Account" 
     asp-action="Logout" 
     class="btn btn-danger">Sair</a>
}