@model LocationModel

@{
    ViewData["Header"] = "Admin";
}

<section class="bg_crud">
    <h3 class="text-start p-2">MyTE - Location Management</h3>
    <form method="post">
        <div class="div_form">
            <span class="div_titulo">Location Data</span>

            <div class="d-flex justify-content-lg-between gap-4 row">
                <div class="input-group col">
                    <i class="bi bi-geo-alt-fill input-group-text "></i>
                    <input type="text" asp-for="City" class="form-control input-dep" placeholder="City" aria-describedby="basic-addon-1" />
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
                <div class="input-group ">
                    <i class="bi bi-buildings-fill input-group-text "></i>
                    <input type="text" asp-for="State" class="form-control input-dep " placeholder="State" aria-describedby="basic-addon-1" />
                </div>
                <span asp-validation-for="State" class="text-danger"></span>

            </div>
        </div>
        <div class="container-btn">
            <a class="btn cancel-btn text-black" asp-controller="Location" asp-action="Index">Cancel</a>
            <button type="submit" class="btn save-btn text-white ">Save</button>
        </div>
    </form>
</section>

<!--  successModal  -->
<div id="successModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5">Well done!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Save successfully</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-orange" asp-controller="Location" asp-action="Index">Close</a>
            </div>
        </div>
    </div>
</div>


@if (ViewData["Success"] != null)
{
    @section Scripts {
    <script>
        $(document).ready(function () {
            $('#successModal').modal('show');
        });
    </script>
    }
}